:root{
  --color-1: #70C0C9; 
  --color-2: #4074BD; 
  --color-3: #E05E46;
  --color-4: #919191;
}

*{
  box-sizing: border-box;
}

body,
body *{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  width: 90%;
  margin: 100px auto 10px;
  display: flex;
  justify-content: space-between;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 20%;
  align-items: center;
}

.logo{
  width: 100%;
  height: 250px;
  padding: 60px 40px;
  border-radius: 5px;
}
.color1{
  background-color: var(--color-1);
}
.color2{
background-color: var(--color-2);
}
.color3{
  background-color: var(--color-3);
}
.color4{
  background-color: var(--color-4);
}
.image{
  position: relative;
}
.mark{
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
  top: -25px;
  left: -25px;
  border-radius: 50%;
  background-color: #fff;
}

.mark-color1{
  color: var(--color-1);
  border: 4px solid var(--color-1);
}
.mark-color2{
  color: var(--color-2);
  border: 4px solid var(--color-2);
}
.mark-color3{
  color: var(--color-3);
  border: 4px solid var(--color-3);
}
.mark-color4{
  color: var(--color-4);
  border: 4px solid var(--color-4);
}
.main-title{
  color: #E26555;
  text-transform: uppercase;
  text-align: center;
  width: 70%;
}
.main-description{
  text-align: center;
  color: #C9C9C9;
}